body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  background-color: #0d1117;
  color: white;
  text-align: center;
}
header {
  background: #161b22;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
}
header input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 300px;
}
.start-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.option-box {
  background: #161b22;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
.option-box:hover {
  background: #1f6feb;
  transform: scale(1.05);
}
.form-container {
  background: #161b22;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.hidden { display: none; }
nav {
  margin: 20px;
}
nav button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  position: relative;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.expired {
  border: 2px solid red;
  color: red;
}